body {
    background-color: #999999;
}

h3 {
    color: #ffffff;
}

.loading {
    margin-top: 5%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.loading div {
    width: 25%;
    height: 100%;
    background: #ffff00;
    transform: scaleY(0);
    animation: animate 2s ease-in-out infinite;
}

.loading div:nth-child(even) {
    background: #e6e600;
}

.loading div:nth-child(1) {
    animation-delay: 0s;
}

.loading div:nth-child(2) {
    animation-delay: 0.25s;
}

.loading div:nth-child(3) {
    animation-delay: 0.5s;
}

.loading div:nth-child(4) {
    animation-delay: 0.75s;
}

@keyframes animate {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    25% {
        transform-origin: top;
        transform: scaleY(1);
    }
    75% {
        transform-origin: top;
        transform: scaleY(1);
    }
    100% {
        transform-origin: top;
        transform: scaleY(0);
    }
}
