.shutdown {
    color: #ffffff;
    background-color: #f44336;
}

.restart {
    color: #ffffff;
    background-color: #ff751a;
}

.keyboard {
    color: #ffffff;
    background-color: #0066ff;
}

.exit {
    color: #000000;
    background-color: #bfbfbf;
}

.exitB{
    text-align: center;
}

.update {
    color: #000000;
    background-color: #ffff00;
}
