#shutdownBtn {
    background-image: none;
    background-color: #f44336;
    color: #bfbfbf;
}

#restartBtn {
    background-image: none;
    background-color: #ff751a;
    color: #bfbfbf;
}

#keyboardBtn {
    background-image: none;
    background-color: #0066ff;
    color: #bfbfbf;
}

#updateBtn {
    background-image: none;
    background-color: #e6e600;
    color: #000000;
}

#aboutBtn {
    background-image: none;
    background-color: #e6e600;
    color: #000000;
}

#settingsBtn {
    background-color: #999999;
    color: #bfbfbf;
    background-image: none;
    background-repeat: no-repeat;
}

#googleBtn {
    background: linear-gradient(-60deg, #1a8cff 50%, #33cc33 50% );
    color: #e60000;
}

#googleBtn:hover {
    background: linear-gradient(60deg, #ffff00 50%, #f44336 50% );
    color: #0066ff;
}

#calculatorBtn {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #e6e600;
    color: #3d5c5c;
}

#darkThemeBtn {
    background-image: none;
    background-color: #000000;
    color: #ffffff;
}

#lightThemeBtn {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
}

#exitBtn {
    background-image: none;
    background-color: #bfbfbf;
    color: #000000;
    font-size: 200%;
}
