body {
    background-color: #999999;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

.shutdown {
    color: #ffffff;
    background-color: #f44336;
}

.restart {
    color: #ffffff;
    background-color: #ff751a;
}

.keyboard {
    color: #ffffff;
    background-color: #0066ff;
}

.apps {
    text-align: center;
}

.options {
    text-align: center;
}
