/* this is just for wifi settings for now */

body {
    background-color: #666699;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

button {
    color: #000000;
    background-color: #00cc99;
}

