#window {
    background-color: #2B2B2B;
}#window {
    background-color: #2B2B2B;
}#window {
    background-color: #2B2B2B;
}#window {
    background-color: #2B2B2B;
}#window {
    background-color: #2B2B2B;
}#window {
    background-color: #2B2B2B;
}#window {
    background-color: #EAEAEA;
}#window {
    background-color: #2B2B2B;
}#window {
    background-color: #2B2B2B;
}#window {
    background-color: #2B2B2B;
}